<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" />
  <rosparam command="load" file="$(find franka_more_controllers)/config/franka_more_controllers.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped cartesian_impedance_example_controller cartesian_impedance_direction_controller cartesian_impedance_trajectory_controller position_joint_trajectory_controller"/>

  <node name="demo_interface_node" pkg="panda_pbd" type="demo_interface" output="screen"/>

  <node name="controller_gui" pkg="rqt_controller_manager" type="rqt_controller_manager" required="false"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false"/>
  <node name="rqt_service_caller" pkg="rqt_service_caller" type="rqt_service_caller"  required="false"/>

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="true" />
  </include>
</launch>
