<launch>
    <param name="robotless_debug" type="bool" value="true" />
    <param name="randomize_parameters" type="bool" value="true" />
    <param name="tts_for_primitives" type="bool" value="false" />

    <param name="active_eup" type="bool" value="true" />
    <param name="n_questions" type="int" value="2" />
    <param name="prior_path" type="string" value="$(find panda_pbd)/resources/priors/priors.pkl" />

    <param name="program_path" type="string" value="$(find panda_pbd)/resources/" />
    <param name="program_name" type="string" value="push_heavy.pkl" />

    <param name="program_logging_path" type="string" value="$(find panda_pbd)/resources/logs/" />
    <node name="panda_gui" pkg="rqt_gui" type="rqt_gui" args="-s panda_gui" output="screen"/>
</launch>